#ID-demo1 {
    font-size: 30px;
    font-weight: normal;
}

$base-color: yellow;

#ID-demo2 {
    @extend #ID-demo1;
    background-color:$base-color;
}

.highlight {
    @extend #ID-demo1;
    background-color: orange;
    color: blue;
    height: 100%;
    position: relative;
    width: 29%;
}

@media screen and (max-width: 800px) {
    body {
        background-color: olive;
      }
}
p {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      color: red;
      text-decoration: none;
    }
  }